<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <strong>
      <ion-card class="ion-padding  caixa" >
  <h2 class="ion-text-center">Página Sobre</h2>
  <h6>
    Esse app é para ficar cada vez mais fácil para pessoas poderem saber mais sobre NBA, e ficar por dentro de tudo sobre o 
    time que ama. Porfavor preencha formulário e aproveite tudo nesse app.<br><br>

    Atenciosamente, <br><br>

    Autor: Willian Rodrigues Araujo <br><br>


    Data: 19/02/2021



  </h6>
</ion-card>
</strong>

</ion-content>
