<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login / Entrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Olá!</h2>
  <p>Logue-se para ter acesso a todos os recursos do aplicativo.</p>
  <p class="ion-text-center"><small>Você precisa ter uma conta do Google (Gmail).</small></p>
  <ion-button expand="block" (click)="login()" shape="round">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Login with Google
  </ion-button>

</ion-content>
