<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>NBA NEWS</ion-list-header>
          <ion-note>RodriguesWillian017@gmail.com</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/home" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label>Início</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/news" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon name="newspaper" slot="start"></ion-icon>
              <ion-label>Notícias</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/contacts" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon name="chatbubbles" slot="start"></ion-icon>
              <ion-label>Faça Contato</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/about" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon name="information-circle" slot="start"></ion-icon>
              <ion-label>Sobre</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <!-- Se usuário está logado -->
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngIf="auth.user | async as user; else showLogin">

            <ion-item routerDirection="root" routerLink="/profile" lines="nome" datail="false"
              routerLinkActive="selected">

              <ion-avatar slot="start">
                <ion-img src="{{user.photoURL}}" alt="{{user.displayName}}"></ion-img>
              </ion-avatar>
              <ion-label>
                {{user.displayName}}
                <div><small>{{user.email}}</small></div>
              </ion-label>
            </ion-item>


          </ion-menu-toggle>

          <!--Se usuário não tiver Logado -->
          <ng-template #showLogin>
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" routerLink="/login" lines="none" datail="false"
                routerLinkActive="selected">

                <ion-avatar slot="start">
                  <ion-img src="assets/google.png" alt="Faça Login"></ion-img>
                </ion-avatar>
                <ion-label>Login / Entrar</ion-label>
              </ion-item>

            </ion-menu-toggle>


          </ng-template>

        </ion-list>
        <p class="ion-text-center" ><ion-text (click)="openSite()"  style="cursor:pointer;" color="primary">Venha saber mais sobre a NBA News</ion-text>
      </p>
      </ion-content>

      <!-- Mensagem de Copyright -->
      <ion-text class="ion-text-center ion-padding">
        <small>&copy; Copyright 2021 Willian Rodrigues Araujo</small>
      </ion-text>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
