<ion-header>
  <ion-toolbar>
    <ion-title>Logout/Sair</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 *ngIf="auth.user | async as user"> Olá {{user.displayName}}</h2>
  <p class="ion-text-justify ion-margin">Clique no botão abaixo para confirmar a saída do aplicativo</p>
  <p>&nbsp;</p>
  <ion-button (click)="logout()" expand="block" color="danger" shape="round">
    Sair do Aplicativo
  </ion-button>

</ion-content>
